# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore virtual environments
env/
venv/

# Ignore database files
db.sqlite3
*.sqlite3

# Ignore environment variables
.env

# Ignore static and media files
staticfiles/
media/

# Ignore IDE and editor settings
.vscode/
.idea/
