<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <h1>Edit Student Details</h1>
    <form action="/update/{{student.s_id}}/" method="post">
        {% csrf_token %}
            <br>
            <label for="s_id">Student ID:</label>
            <br>
            <input type="number" name="s_id" value="{{ student.s_id }}" readonly>
            <br>
        
            <label for="s_name">Student Name:</label>
            <br>
            <input type="text" name="s_name" value="{{ student.s_name }}">
            <br>
            <label for="s_mail">Student Mail:</label>
            <br>
            <input type="email" name="s_mail" value="{{ student.s_mail }}">
            <br>
            <label for="s_contact">Student Contact:</label>
            <br>
            <input type="text" name="s_contact" value="{{ student.s_contact }}">
            <br>
            <br>
        <button type="submit">Update</button>
    </form>
    
</body>
</html>