@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
html{
    font-size: 14px;
}

body{
    font-family: 'Noto Sans',sans-serif;
}

a{
    text-decoration: none;
}
.carousel-item img {
    object-fit: cover;
    object-position: top;
    height: 70vh;
    overflow: hidden;
}

.old_price{
font-weight: bold;
color: red;
}
.new_price{
font-weight: bold;
background-color:green;
color: white;
padding: 2px;
border-radius: 5px;
}

.trending {
    background-color:aquamarine;
    color: white; 
    font-weight: bold;
    display: inline;
    position: absolute;
    padding: 5px; 
    border-radius: 5px; 
    right: 0;
}

.pic-box {
    position: relative; 
}